{% extends 'base.html' %}

{% load static %}

{% block root %}
    <div class='header'>
        <div class="header-back"></div>
        {% if user.is_authenticated %}
            <div class="btn-bar row">
                <a href="{% url 'games:recommendations' %}" class="nav-item">Recommendations</a>
                <a href="{% url 'games:browse' %}" class="nav-item">Browse</a>
                <a href="{% url 'games:user-games' %}" class="nav-item">My Games</a>
            </div>    
        {% else %}
            <div class="btn-bar row">
                <a href="{% url 'games:browse' %}" class="nav-item">Browse</a>
                <a href="{% url 'games:register' %}" class="nav-item">Register</a>
            </div>        
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="height-holder"></div>

    <div style="margin: 20px;">
        {% block main %}{% endblock %}
    </div>

    <div class="height-holder"></div>

    <div class='footer'>
        <div class="logo-col">
            <p>Created by <a class="credit" href='https://www.linkedin.com/in/lauren-delwiche-518638197'>Lauren Delwiche</a></p>
        </div>
    </div>
{% endblock %}
