SECRET_KEY = ''
DEBUG = 
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "site_####",
        "USER": "site_####",
        "PASSWORD": "",
        "HOST": "director-postgres",
        "PORT": "5432",
    },
}